body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 900px;
}

.team-header {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.team-score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    text-align: center;
    color: #F94F6D;
    margin: 0px;
    padding: 40px 45px 20px 45px;
    line-height: 1;
}

.team-score-background {
    background-color: #080001;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 250px;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #9AABD8;
    text-align: center;
    line-height: 28px;
    margin-top: 30px;
    padding: 17px 14px 12px 17px;
    background-color: #1B244A;
    border-color: #9AABD8;
    border-style: solid;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}